body {
  margin: 0;
  padding: 0;
  background: #ddd;
  font-family: "Times New Roman", Times, serif;
  line-height: 20px;
  background-image: url(../img/Polygon\ Luminary.svg);
  height: 930px;
}

section #profile {
  width: 100px;
  height: 103px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 60px;
  top: 20px;
  filter: drop-shadow(1px 5px 5px #999);
}

.wrapper {
  border-radius: 20px;
  margin: 0 30px;
  background: white;
  box-shadow: 0px 10px 6px #888;
}

section {
  padding: 50px;
  margin-top: 60px;
}

.signature {
  text-align: right;
  padding-right: 100px;
}
.sheet {
  display: flex;
  flex-direction: row;
}
.sheet div {
  margin: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: white;
  border: 2px solid black;
}
.sheet div:nth-child(1) {
  background-color: black;
}
